{% extends "PortalBundle::layout.html.twig" %}

{% block pageid 'page2' %}
{% block estiloid 'height: 118px;' %}
   

{% block body %}
   <section id="content">
    <div class="container">
    	<div class="inside">
      	<!-- .top-info -->
      	<section class="top-info">
        	<!-- .box -->
        	<!--
        	<div class="box">
          	<div class="wrapper">
          	  <div class="col-1 colborder">
              	<div class="inner">
              	  <h3>Services <img src="images/icon1.jpg" alt=""></h3>
                  <ul class="list1">
                  	<li>Consec tetuer adipiscge</li>
                    <li>Elraesenonummy hendrerit</li>
                    <li>Maurisellus porsisque nulla</li>
                    <li><a href="#">Vestibulum libero</a> nisl porta</li>
                  </ul>
                  <a href="#" class="more-link">Read More</a>
              	</div>
              </div>
          	  <div class="col-2 colborder">
              	<div class="inner">
              	  <h3>Products <img src="images/icon2.jpg" alt=""></h3>
                  <ul class="list1">
                  	<li>Hendrerit risellus porsi</li>
                    <li>Vestibulum <a href="#">libero nisl porta</a></li>
                    <li>Scelerisque eget malesuada</li>
                    <li>Etiam cursus leo vel metus</li>
                  </ul>
                  <a href="#" class="more-link">Read More</a>
              	</div>
              </div>
          	  <div class="col-3 colborder">
              	<div class="inner">
              	  <h3>Technologies <img src="images/icon3.jpg" alt=""></h3>
                  <ul class="list1">
                  	<li>Porta elerisque eget mal</li>
                    <li>Aenean nec erosstibulum ante</li>
                    <li>Primis in faucibus <a href="#">orci luctus</a></li>
                    <li>Ultrices posuere cubiliaurae</li>
                  </ul>
                  <a href="#" class="more-link">Read More</a>
              	</div>
              </div>
          	  <div class="col-4">
              	<div class="inner">
              	  <h3>Latest News <img src="images/icon4.jpg" alt=""></h3>
                  <ul class="list1">
                  	<li><a href="#">Eget malenean nec erosstibulum antemis in faucibus orci</a></li>
                    <li>Porta elerisque eget malean</li>
                    <li>Malnean nec erosstibulum ante imis in faucibus orci luctus</li>
                  </ul>
                  <a href="#" class="more-link">Read More</a>
              	</div>
              </div>
          	</div>
          </div>
          -->
        	<!-- /.box -->
        </section>
      	<!-- /.top-info -->
        <div class="indent">
        <div class="wrapper">
        	  <div class="col-1">
        	  <h2 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-style:normal;color:#314e64;">
                      CLIENTES</h2>
            	<article>
                <div class="wrapper">
                  <figure><img src="images/3page-img1.jpg" alt=""></figure>
                  <h4 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-style:normal;color:#314e64;">HN IMPORTACIONES LATINAS</h4>
                  <p><strong>RUC:</strong> 20537893584 <br />
                  <strong>Raz&oacute;n Social:</strong> HN IMPORTACIONES LATINAS<br />
                  <strong>Actividad Comercial:</strong> Consultores Prog. y Sumin. Informatic.
                  </p>
                  <!--<a href="#" class="button">read more</a>-->
                </div>
            	</article>
            	<article>
                <div class="wrapper">
                  <figure><img src="images/3page-img1.jpg" alt=""></figure>
                  <h4 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-style:normal;color:#314e64;">MPORTACIONES TAPYCUERO</h4>
                  <p><strong>RUC:</strong> 20538566919 <br />
                  <strong>Raz&oacute;n Social:</strong> IMPORTACIONES TAPYCUERO EIRL<br />
                  <strong>Actividad Comercial:</strong> Vta. May. Productos Textiles.
                  </p>
                  <!--<a href="#" class="button">read more</a>-->
                </div>
            	</article>
            	<article>
                <div class="wrapper">
                  <figure><img src="images/3page-img1.jpg" alt=""></figure>
                  <h4 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-style:normal;color:#314e64;">R & H CUEROS Y TAPICES S.</h4>
                  <p><strong>RUC:</strong> 20538700585 <br />
                  <strong>Actividad Comercial:</strong> Vta. May. Productos Textiles.
                  </p>

                </div>
            	</article>


            	<article>
                <div class="wrapper">
                  <figure><img src="images/3page-img1.jpg" alt=""></figure>
                  <h4 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-style:normal;color:#314e64;">IMPORTACIONES ASTRI DE EDGAR HERRERA BERRU</h4>
                  <p><strong>RUC:</strong> 10088740021 <br />
                  </p>

                </div>
            	</article>

            	<article>
                <div class="wrapper">
                  <figure><img src="images/3page-img1.jpg" alt=""></figure>
                  <h4 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-style:normal;color:#314e64;">INDUSTRIAS BAZ SAC - INDUBAZ SAC</h4>
                  <p><strong>RUC:</strong> 20493068220 <br />
                  </p>

                </div>
            	</article>


            </div>
        	  <div class="col-2">


             <h2 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-style:normal;color:#314e64;">Acerca de los clientes</h2>
              <p>Contamos con varios clientes alrededor del pais. Son las empresas mas destacadas en su rubro.</p>

              <figure><img src="images/foto_clientes.jpg" alt="" style="margin: 10px 0px 0 0px;"></figure>

            </div>
        	</div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}
 
