{% extends "PortalBundle::layout.html.twig" %}

{% block pageid 'page2' %}
{% block estiloid 'height: 118px;' %}
{% block body %}

<section id="content">
    <div class="container">
    	<div class="inside">
        <div class="indent">
        	<div class="wrapper">

        	<div class="col-3" style="width:780px;">



        	<h2 style="color:#314E64;font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-style:normal;">
        	Sistema Integrado ERP SENDA       	</h2>

        	<p>SENDA TI SOLUTIONS S.A.C.</p>

        	<br />


        	 <figure><img src="{{ asset('images/imagen1.jpg') }}" alt="" style="margin: 0 85px 0 0;"></figure>

        	 <ul style="list-style: square outside none;">
				<li><strong>ADMINISTRACION Y SEGURIDAD</strong> </li>
				<li><strong>LOGISTICA</strong> </li>
				<li><strong>VENTAS</strong> </li>
				<li><strong>FINANZAS Y CONTABILIDAD</strong> </li>
				<li><strong>CUENTAS POR COBRAR</strong> </li>
				<li><strong>GESTION DE HARDWARE & SOFTWARE</strong> </li>
				<li><strong>ORDEN DE ATENCION AL CLIENTE & HELPDESK</strong> </li>
			</ul>

		      <br />
		      <br />
		      <br />
		      <br />
		      <br />
		      <br />


		      <h3 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-style:normal;color:#314e64;">
		      NUESTRAS SOLUCIONES:</h3>
		      <br />


        	</div>
        	  <div class="col-1" style="width:350px;">


        	  <article>
                <div class="wrapper">
                  <h4 style="color:#314E64;">MODULO DE VENTAS</h4>
                  <p>
                  documento en el sistema comercial ya sea en forma manual o en forma masiva a través de un proceso especial. 
Los datos relevantes de un documento son: Cliente, RUC, Dirección, 
Cliente a quien se le  deberá cobrar (que por default será el mismo.
                  </p>
                  <!--<a href="#" class="button">read more</a>-->
                </div>
            </article>

            <article>
                <div class="wrapper">
                  <h4 style="color:#314E64;">MODULO DE LOGISTICA</h4>
                  <p>
                  Para la administración del acopio, almacenamiento y distribución de los bienes y servicios.
                  Consta de los siguientes Módulos:

                  <h4 style="color:#314E64;">Orden de Requerimiento o Solicitud de Bienes</h4>
                  Este documento lo elaboran las personas autorizadas a generar pedidos de bienes o servicios. Entre estos se encuentran los de reposición de                                     stock.

En cada Solicitud, se menciona para qué centro de gasto es y para qué unidad operativa o cadena funcional.

Se imprime esta solicitud en cada nivel de aprobación. Puede manejar hasta 4 niveles de aprobación. En los últimos dos niveles se puede variar la cantidada aprobada.

<h4 style="color:#314E64;">Cotizaciones y pedido de cotización</h4>

Para hacer llegar a los proveedores potenciales los pedidos de cotización, con el fin de atender las solicitudes de bienes o requerimientos.
Cuando se ha decidido a qué proveedor / proveedores comprarles los bienes o servicios, entra a funcionar el sistema de compras con la elbaoración de la orden de compra; su posterior aceptación; su conversión a factura de compra, se anota el ingreso del bien o servicio y se revisa la provisión creada por la factura de compras para el pago respectivo en el área de tesorería.

<h4 style="color:#314E64;">Tabla de Usuarios / Requerimiento</h4>
Para que los usuarios que están autorizados a generar pedidos estén registrados en el sistema.
                  </p>
                  <!--<a href="#" class="button">read more</a>-->
                </div>
            </article>

<article>
                <div class="wrapper">
                  <h4 style="color:#314E64;">MODULO DE FINANZAS</h4>
                  <p>
                  Este módulo es también una base de datos que el usuario puede explotar para determinados trabajos o estudios económico financieros. 
                  Reporte flujo de caja y bancos tomando en cuenta los pagos y cobros por realizar, así como los movimientos en las cuentas. Además presenta los saldos iniciales y finales. Los datos vienen desde los subsistemas de ventas y logistica.
                  </p>
                  <!--<a href="#" class="button">read more</a>-->
                </div>
            </article>


              </div>
            <div class="col-2" style="width:350px;">

            <article>
                <div class="wrapper">
                  <h4 style="color:#314E64;">SENDA TOUCH POS</h4>
                  <p>
                  SENDA TOUCH POS es un módulo de ventas (facturación o boleta desde un mostrador), vale decir, el documento a generar se aprecia en pantalla y luego se imprime rápidamente para velocidad y eficiencia del vendedor. Su emisión es instantánea. Saca los artículos directamente del almacén.

Caja Bancos recibe la provisión o compromiso de cobranza y prosigue el procedimiento ordinario.
                  </p>
                  <!--<a href="#" class="button">read more</a>-->
                </div>
            </article>

            <article>
                <div class="wrapper">
                  <h4 style="color:#314E64;">SENDA REST POS</h4>
                  <p>
                  SENDA REST POS es un módulo que permite agilizar la atención netamente de restaurantes.
                  </p>
                  <!--<a href="#" class="button">read more</a>-->
                </div>
            </article>


            <article>
                <div class="wrapper">
                  <h4 style="color:#314E64;">SENDA TOUCH POS</h4>
                  <p>
                  SENDA TOUCH POS es un módulo de ventas (facturación o boleta desde un mostrador), vale decir, el documento a generar se aprecia en pantalla y luego se imprime rápidamente para velocidad y eficiencia del vendedor. Su emisión es instantánea. Saca los artículos directamente del almacén.

Caja Bancos recibe la provisión o compromiso de cobranza y prosigue el procedimiento ordinario.
                  </p>
                  <!--<a href="#" class="button">read more</a>-->
                </div>
            </article>

            <article>
                <div class="wrapper">
                  <h4 style="color:#314E64;">SENDA HELP DESK</h4>
                  <p>
                  SENDA HELP DESK es un módulo.
                  </p>
                  <!--<a href="#" class="button">read more</a>-->
                </div>
            </article>


        	</div>



        </div>
      </div>
    </div>
  </section>
{% endblock %}