/web/bundles/framework
/web/bundles/sensiodistribution
/web/bundles/webprofiler
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/assetic
/vendor/bundles
/vendor/doctrine
/vendor/doctrine-common
/vendor/doctrine-dbal
/vendor/metadata
/vendor/monolog
/vendor/swiftmailer
/vendor/symfony
/vendor/twig
/app/config/parameters.ini
.DS_Store
/nbproject/private/